div.frame {
	text-align: right;
}

/*div.team {
	line-height: 50%;
}*/

body {
  background-image: url('./chicago-background-green.png');
  padding-right: 3%;
}

p {
	color: white;
	font-size: 1vw;
	line-height: 100%;
}


h1 {
	color: white;
	font-size: 4vw
}
